
.danya {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Montserrat Alternates;
}

.stone-knives-papergame {
  margin-top: 20px;
}

.partofcode {
  display: flex;;
  align-items: center;
  margin: 20px 0;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 10px;
}

.counter1 {
  margin-left: 75px;
  margin-bottom: 20px;
}


.you_won {
  color: #28a745;
  margin: 20px 0;
}
.computer_won{
  color: #990000;
  margin: 20px 0;
}

.computer_option {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: Montserrat Alternates;

}


@media (max-width: 600px) {
  .img img {
      width: 50px;
      height: 50px;
      padding: 5px;
  }

  .computer_option {
      padding: 8px 16px;
  
  }
}
