<<<<<<< HEAD
=======

h2{
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.flex {
  display: flex;
}
.calculator{
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
#input{
  width: 115px;
  height: 33px;
  border: none;
  background-color:#D7D7D7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.resultButton{
  width: 35px;
  height: 35px;
  background-color: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 275px;
}
.edward img{
  padding-top: 10px;
  padding-left: 10px;
}


/* Footer */

footer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

li{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
  color: #000;
}
.send-email input{
  width: 350px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #D7D7D7;
}
.send-email button{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 107px;
  height: 35px;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 50px;
}
.send-email p{
  margin-top: 20px;
  font-size: 6px;
}
>>>>>>> feature/card-vanya
