h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}

button {
  width: 150px;
  height: 50px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.startGameButton {
  border-radius: 15px;
  background-color: black;
}

.againGameButton {
  border-radius: 15px;
  background-color: black;
}

.dinoImage {
  width: 30px;
  height: 30px;
  position: relative;
  background-image: url('../img-nazar/dinoimg.png');
  background-size: 30px 30px;
  top: 51px;
  left: 200px;
  border: 1px solid red;
}

.dinoJump {
  animation: jump 0.5s linear infinite;
}

.cactusImage {
  width: 30px;
  height: 30px;
  position: relative;
  top: 20px;
  left: 900px;
  background-image: url('../img-nazar/cactus.png');
  background-size: 30px 30px;
  border: 1px solid blue;
}

.cactusRunning {
  animation: block 2s  infinite linear;
}

.img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 170px;
}

@media screen and (max-width: 300px) {
  .startGameButton {
    margin: 10px 0;
  }
}

@media screen and (max-width: 300px) {
  .img {
    margin: 50px 0;
  }
}

@keyframes jump {
  0% {
    top: 51px; 
  }
  50% {
    top: -60px; /* Increased height to make the jump higher */
  }
  100% {
    top: 51px; 
  }
}


@keyframes block {
  0% { left: 100%; }
  100% { left: -20px; }       
}