.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.header {
  justify-content: space-evenly;
  align-items: center;
}
.header-first-block {
  align-items: center;
}
.header-first-block div {
  margin-right: 15px;
}
.coding-text {
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
  font-family: "Montserrat Alternates", sans-seri
}
.magic-text {
  font-family: "Sacramento", cursive;
  line-height: 17px;
  text-align: end;
}
.nav-bar {
  justify-content: space-evenly;
}
.nav-bar img {
  margin-right: 20px;
  width: 10px;
  height: 15px;
}
.link {
  font-family: Montserrat Alternates;
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  color: #000000;
  margin-right: 25px;
}
.link:first-child {
  margin-right: 5px;
}
.switcher {
  width: 40px;
  height: 20px;
  border-radius: 11px 11px;
  border: 0.5px solid #000000;
  background-color: #7A7A7A;
}
.switcher-button {
  width: 20.5px;
  height: 20px;
  border-radius: 11px;
  background-color: #fff;
  position: relative;
  align-items: center;
}
.switcher-button img {
  width: 16px;
  height: 15px;
}
.welcome-user-text {
  margin-left: 15px;
}
.football-field {
  position: relative;
  align-items: center;
  width: 720px;
  height: 220px;
  border-radius: 37px 37px;
  border: 2px solid #000;
  background-color: #5ABB58;
}
.football-field-container {
  flex-direction: column;
}
.football-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  padding-bottom: 30px;
}
.football-img {
  position: absolute;
  width: 50px;
  height: 50px;
}
.move {
  animation: move 3s linear infinite;
}
@media screen and (max-width: 725px) {
  .football-field {
    width: 360px;
  }
}
@media screen and (max-width: 610px) {
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar:nth-child(1), .link {
    margin-bottom: 10px;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(var(--x), var(--y)) rotate(var(--angle));
  }
}